* {
  margin: 0;
  padding: 0;
  font-family: 'PingFangSC-Light', 'STHeiti Light', 'helvetica neue', 'hiragino sans gb', 'arial', 'microsoft yahei ui', 'microsoft yahei', 'simsun', sans-serif;
}
html,
body {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  overflow-x: hidden;
}
/*弹窗样式*/
.layer-box {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.layer {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  background: #333;
  width: 90%;
  line-height: 3rem;
  margin-top: -0.3rem;
  margin-left: -45%;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  padding: 0.1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.none {
  display: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.text-ellipsis-s {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.label {
  padding: 20px 15px 5px;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 20px;
}
.label a {
  float: right;
  margin-top: 6px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #c8a063;
  line-height: 1;
}
.line {
  height: 10px;
  background: #f8f8f8;
}
.banner {
  padding: 15px 15px 0;
  height: 136px;
  margin-bottom: 20px;
}
.banner #lunbo {
  height: 136px;
  border-radius: 4px;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: #FEFEFE !important;
  margin-right: 5px;
  opacity: 1;
}
.banner .swiper-pagination-bullet-active {
  width: 10px;
  border-radius: 2px;
  background: #FEFEFF !important;
}
.good-online {
  padding: 0 15px 5px;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}
.good-online .list {
  display: block;
  position: relative;
  width: 165px;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 15px 0;
  overflow: hidden;
}
.good-online .list img {
  width: 100%;
  height: 92px;
}
.good-online .list .tag {
  text-align: center;
  font-size: 10px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #dbc095;
  line-height: 10px;
  position: absolute;
  padding: 5px 10px;
  background: #3f301c;
  border-radius: 4px 0 12px 0;
}
.good-online .list .xianshi {
  background: #E60012;
  color: #fff;
}
.good-online .list .cate {
  position: absolute;
  right: 8px;
  top: 69px;
  display: inline-block;
  padding: 3px;
  background: #333333;
  border-radius: 2px;
  opacity: 0.8;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
}
.good-online .list .info {
  padding: 10px 10px 15px;
  overflow: hidden;
}
.good-online .list .info .title {
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 20px;
}
.good-online .list .info .study {
  margin-top: 10px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 1;
}
.good-online .list .info .study span {
  margin-left: 16px;
}
.good-online .list .info .price {
  margin-top: 9px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #e60012;
  line-height: 1;
}
.good-online .list .info .price span {
  margin-left: 10px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  text-decoration: line-through;
}
.good-online .list .info .time {
  margin-top: 10px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 1;
}
.good-online .list .info .tejia {
  margin: 15px auto 0;
  width: 145px;
  height: 22px;
  background: #fef1f0;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #e60012;
  line-height: 22px;
}
.good-online .list .info .tejia img {
  width: 7px;
  height: 12px;
  margin-left: 10px;
}
.good-offline {
  padding: 0 15px 5px;
  width: 345px;
  overflow: hidden;
}
.good-offline .list {
  display: block;
  background: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
  margin: 15px 0;
  overflow: hidden;
}
.good-offline .list .tag {
  position: absolute;
  padding: 5px 10px;
  background: #3f301c;
  border-radius: 4px 0 12px 0;
  text-align: center;
  font-size: 10px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #dbc095;
  line-height: 1;
}
.good-offline .list img {
  width: 100%;
  height: 146px;
}
.good-offline .list .info {
  padding: 15px;
}
.good-offline .list .info .title {
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 18px;
}
.good-offline .list .info .time {
  margin-top: 16px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 1;
}
.good-offline .list .info .time span {
  color: #E60012;
  margin: 0 4px;
}
.good-offline .list .info .price {
  margin-top: 10px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #e60012;
  line-height: 1;
}
.good-offline .list .info .price .buy {
  margin-right: 15px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 1;
}
.good-offline .list .info .price .old {
  text-decoration: line-through;
  margin-left: 5px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 1;
}
.good-offline .list .info .btn {
  position: absolute;
  background: #E60012;
  right: 15px;
  bottom: 19px;
  text-align: center;
  width: 80px;
  height: 28px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 28px;
  border-radius: 14px;
}
.good-book {
  padding: 0 15px;
  overflow: hidden;
}
.good-book .list {
  margin: 15px 0 30px;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
}
.good-book .list .tag {
  padding: 5px 10px;
  position: absolute;
  background: #3f301c;
  border-radius: 2px 0 10px 0;
  text-align: center;
  font-size: 10px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #dbc095;
  line-height: 10px;
}
.good-book .list .xianshi {
  background: #E60012;
  color: #fff;
}
.good-book .list .left {
  width: 80px;
  height: 110px;
  background: #d8d8d8;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
}
.good-book .list .left img {
  width: 100%;
  height: 100%;
}
.good-book .list .right {
  position: relative;
  width: 255px;
  overflow: hidden;
}
.good-book .list .right .title {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 18px;
}
.good-book .list .right .desc {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 16px;
  margin-bottom: 15px;
}
.good-book .list .right .price {
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #e60012;
  line-height: 1;
}
.good-book .list .right .price span {
  margin-left: 5px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 1;
  text-decoration: line-through;
}
.good-book .list .right .num {
  margin-top: 11px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 12px;
  text-decoration: none;
}
.good-book .list .right .time {
  margin-top: 11px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 1;
}
.good-book .list .right .btn {
  position: absolute;
  right: 0;
  bottom: 1px;
  width: 58px;
  height: 28px;
  background: #E60012;
  text-align: center;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 28px;
  border-radius: 14px;
}
.article {
  overflow: hidden;
}
.article .list {
  background: #fff;
  padding: 15px;
  overflow: hidden;
  justify-content: space-between;
}
.article .list .left {
  width: 240px;
  overflow: hidden;
}
.article .list .left .title {
  height: 44px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1f1b18;
  line-height: 22px;
}
.article .list .left .info {
  margin-top: 8px;
  height: 18px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 1;
}
.article .list .left .info .type {
  display: inline-block;
  float: left;
  padding: 3px 5px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #C8A063;
  line-height: 1;
  margin-right: 15px;
  border-radius: 2px;
  border: 1px solid #C8A063;
}
.article .list .left .info .author {
  margin-left: 15px;
}
.article .list .left .info .top {
  display: inline-block;
  float: right;
  padding: 3px 4px;
  background: #f8f8f8;
  border-radius: 2px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #c8a063;
  line-height: 1;
}
.article .list .right {
  width: 94px;
  height: 70px;
  border-radius: 2px;
  overflow: hidden;
}
.article .list .right img {
  width: 100%;
  height: 100%;
}
.tab_menu_d {
  height: 50px;
}
#tab_menu {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 99;
  overflow: hidden;
  height: 50px;
  box-shadow: 0 1px 0 0 #d8d8d8;
}
#tab_menu .icon {
  display: block;
  width: 25%;
  overflow: hidden;
  float: left;
}
#tab_menu .icon .img {
  width: 100%;
  height: 24px;
  margin: 5px 0;
  text-align: center;
}
#tab_menu .icon .img img {
  width: 24px;
  height: 24px;
  vertical-align: top;
}
#tab_menu .text {
  width: 100%;
  height: 12px;
  text-align: center;
  line-height: 1;
  color: #999;
  font-size: 12px;
}
#tab_menu .active {
  color: #E60012;
}
/*# sourceMappingURL=common.css.map */